@import '../../styles/main.css';
@import '../../styles/button.css';


/*=============== PROJECTS ===============*/
.projects {
   background-color: var(--body-color);
   transition: background-color .4s;
 }
 
 .projects__container {
   row-gap: 2rem;
   position: relative;
 }
 