@import '../../styles/main.css';

.projects__link {
   display: flex;
   align-items: center;
   column-gap: .25rem;
   color: var(--text-color);
   font-size: var(--medium-font-size);
   font-weight: var(--font-medium);
   transition: color .4s;
 }
 
 .projects__link i {
   font-size: 1.5rem;
   color: var(--title-color);
   transition: color .4s;
 }
 
 .projects__link:hover,
 .projects__link:hover i {
   color: var(--first-color);
 }
 